<html>

<head>
<title>scRNA - NK with varied feeder cells</title>
</head>

<body>

<p>

Unprocessed scRNA of NK 
1st. Merge the 4x samples

Below is the non-integrated RNA 

</p>

<!--begin.rcode
markers <- readRDS("CvsH.RDS")
markers
end.rcode-->

</body>
</html>
